aiofiles
aiohttp
beautifulsoup4
cfscrape
cryptg
cssselect
py-cpuinfo
emoji
googletrans
google_images_download
google-api-python-client
google_auth_oauthlib
gsearch
goslate
gtts
google
hachoir
Pillow
psutil
psycopg2
pySmartDL
python-barcode
pytube
python-magic
qrcode
regex
requests
PyGithub
selenium
speedtest-cli
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl
git+https://github.com/ahupp/python-magic
google-api-python-client
oauth2client
httplib2
